---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software Engineer with over ten years of experience in <b>Software Development</b> 
    and <b>Software Requirement Analysis</b>. 
    Expertise includes various positions such as <b>Backend Developer</b>, <b>DevOps</b>,
    <b>Scrum Master</b>, <b>Technical Lead</b> and <b>Project Manager</b>.
    Excellent <b></b>communication skills</b> and extensive experience delivering <b>business presentations</b> 
    and managing</b> <b>customer relations</b>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master on Information Management"
      subtitle="2015 to 2017 at Havana University (UH), Habana, Cuba"
    />
    <TimeLineElement
      title="Informatics Science Engineer"
      subtitle="2004 to 2009 at University of Informatics Science (UCI), Habana, Cuba"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Project Manager / FullStack Developer"
      subtitle="2022 - present at cuban.engineer, Havana, Cuba"
      desc="Imagined Earth. Recycling Managment Company. Flutter, Rest/API, Laravel, MySQL, Docker, Grafana, NodeJS, AWS, GitLab"
    />
    <TimeLineElement
      title="Project Manager / Backend Developer"
      subtitle="2021 - 2022 at cuban.engineer, Havana, Cuba"
      desc="cuban.engineer. Company website and talent pool. Angular, Rest/API, Java, Spring Boot, Docker, GitLab"
    />
    <TimeLineElement
      title="Project Manager / FullStack Developer"
      subtitle="2015 - 2021 at DATYS, Havana, Cuba"
      desc="Papyrus Case Platform. Content Management System. AngularJS, Rest/API, Oracle, Java, Spring Boot, Docker, Rancher"
    />
    <TimeLineElement
      title="Software Developer"
      subtitle="2011 - 2015 at DATYS, Havana, Cuba"
      desc="PapyrusDoc. Document Management System. C#, WCF, WPF, dotNET, Oracle"
    />
    <TimeLineElement
      title="Software Developer"
      subtitle="2009 - 2011 at Ministry of Home Affairs, Havana, Cuba"
      desc="Papyrus Case. Case Management System. C#, WCF, Tools for Office, Silverlight, dotNET, Oracle"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.linkedin.com/learning/certificates/23c507e0922b2a37ac1c496503065a5a26540b35273d414588f667d8c58a2a53?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BbFg4yI2NTLKAiCcNdLVCHg%3D%3D"
      target="_blank">
        Time Management Foundamentals at Project Manager Institute. 2022
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/learning/certificates/7eee7031c86b9f152b796d142d28343e3fde7dee3f59d63c6a600f57eca18c6f?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B62NE%2BmMVTAec0lRclIkhOg%3D%3D"
      target="_blank">
        Project Management Foundations at Project Manager Institute. 2021
      </a>
    </li>
    <li>
      <a href="https://www.efset.org/cert/PLfHc5" target="_blank">
        EF SET English Certificate 78/100 (C2 Proficient). 2021
      </a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/070fafdc-a34a-4042-ad91-7f277cfab3c1" 
      target="_blank">
        Scrum Foundation Professional Certificate (SFPC) at CertiProf. 2020
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>C#</li>
    <li>dotNET</li>
    <li>PHP</li>
    <li>Laravel</li>
    <li>Oracle</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Groovy on Grails</li>
    <li>AngularJS</li>
    <li>Flutter</li>
    <li>Android</li>
    <li>Astro</li>
    <li>Grafana</li>
    <li>AWS</li>
    <li>Docker</li>  
    <li>Rancher</li> 
    <li>Git</li>
    <li>Gitflow</li>
    <li>GitLab</li>
    <li>TFS</li>
    <li>Scrum</li>
    <li>ClickUp</li>
    <li>Figma</li>
    <li>UI/UX Experience</li>
    <li>Lightroom</li>
    <li>Office Suite</li>
    <li>Google Suite</li>
  </ul>
</BaseLayout>
