---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TechIcon from "../components/TechIcon.astro";

import { getCollection } from "astro:content";
import { Icon } from 'astro-icon';


const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">👋 Hello World!</div>
      <div class="text-5xl font-bold">Alejandro Guerra</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="py-2">
        <text class="text-lg">
          Developer, Project Manager, Scrum Master, DevOps, Database, Father and Husband and your future friend.
        <p class="py-2"/>
          Software Engineer with more than ten years’ experience in <b>Software Development</b> 
          and Software Requirement Analysis. Developed knowledge in <b>Scrum Master</b>, <b>Project Manager</b>, 
          and <b>DevOps</b> positions; good communication skills and experience in business presentations 
          and customer relations.
        </text>
      </div>
      <!-- <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/aleguerra86/" target="_blank"> Let's connect!</a>
      </div> -->
    </div>

    <div class="text-3xl py-3 font-bold">
      <text>
        My Tech Stack
      </text>
    </div>

    <div class="flex" style="justify-content: center; align-items: center; flex-wrap: wrap;">  
      <TechIcon iconName="logos:nodejs-icon" url="https://nodejs.org"/>
      <TechIcon iconName="logos:java" url="https://nodejs.org"/>
      <TechIcon iconName="logos:spring-icon" url="https://nodejs.org"/>
      <TechIcon iconName="logos:dotnet" url="https://nodejs.org"/>
      <TechIcon iconName="mdi:laravel" url="https://nodejs.org"/>
      
      <TechIcon iconName="logos:oracle" url="https://nodejs.org"/>
      <TechIcon iconName="logos:mysql-icon" url="https://nodejs.org"/>

      <TechIcon iconName="logos:angular-icon" url="https://angular.io"/>
      <TechIcon iconName="logos:javascript" url="https://nodejs.org"/>
      <TechIcon iconName="logos:flutter" url="https://nodejs.org"/>
      <TechIcon iconName="logos:android-icon" url="https://nodejs.org"/>

      <TechIcon iconName="logos:git" url="https://nodejs.org"/>
      <TechIcon iconName="logos:gitlab" url="https://nodejs.org"/>
      <TechIcon iconName="logos:github-icon" url="https://nodejs.org"/>
      
      <TechIcon iconName="logos:docker-icon" url="https://nodejs.org"/>
      <TechIcon iconName="logos:rancher-icon" url="https://nodejs.org"/>
      <TechIcon iconName="logos:aws" url="https://nodejs.org"/>
      <TechIcon iconName="logos:google-play-icon" url="https://nodejs.org"/>
      
      <TechIcon iconName="simple-icons:grafana" url="https://nodejs.org"/>
      <TechIcon iconName="logos:visual-studio-code" url="https://nodejs.org"/>
            
      <TechIcon iconName="logos:linux-tux" url="https://nodejs.org"/>
      <TechIcon iconName="logos:microsoft-windows" url="https://nodejs.org"/>
    </div>
<!-- 
    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->


    <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    } -->

</BaseLayout>
